@import url("https://api.fontshare.com/v2/css?f[]=excon@400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.8px;
  font-family: "Inter", sans-serif;
  color: #8e8e93;
}

.excon {
  font-family: "Excon", sans-serif;
}

html,
body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.generated_mnemo_active {
  background: transparent;
  background-image: linear-gradient(90deg, white, white),
    linear-gradient(90deg, #eca438, #cb38e7, #8338ec, #ec3838, #c838ec, #ec3879);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 1px solid transparent;
}
